{
    "app_name": "KSScreenshotManagerExample.app",
    "bundle_id": "com.ksuther.KSScreenshotManagerExample",
    "build_config": "Screenshots",
    "destination_path": "/tmp/screenshots",
    "devices": [
        "iPhone SE",
        "iPhone 7",
        "iPhone 7 Plus"
    ],
    "languages": [
        "en",
        "de"
    ],
    "project_path": "Example",
    "scheme_name": "KSScreenshotManagerExample"
}
