{
    "app_name": "KSScreenshotManagerExample.app",
    "app_id": "com.ksuther.KSScreenshotManagerExample",
    "build_config": "Screenshots",
    "destination_path": "/tmp/screenshots",
    "ios_version": "9.2",
    "device_names": [
        "iPhone 4s",
        "iPhone 5",
        "iPhone 6",
        "iPhone 6 Plus"
    ],
    "languages": [
        "en",
        "de"
    ],
    "project_path": "Example",
    "scheme_name": "KSScreenshotManagerExample"
}
