{
    "app_name": "KSScreenshotManagerExample.app",
    "build_config": "Screenshots",
    "destination_path": "/tmp/screenshots",
    "devices": [
        "com.apple.CoreSimulator.SimDeviceType.iPhone-4s",
        "com.apple.CoreSimulator.SimDeviceType.iPhone-5",
        "com.apple.CoreSimulator.SimDeviceType.iPhone-6",
        "com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus"
    ],
    "languages": [
        "en",
        "de"
    ],
    "project_path": "Example",
    "target_name": "KSScreenshotManagerExample"
}